@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERALES */
* {
    font-family: 'Montserrat', sans-serif;
}
table {
    margin: 0 !important;
}
table td, table th {
    background: none !important;
}
.body-content {
    height: auto;
    min-height: 100%;
    background: #f4f4f8;
    padding: 0 15px;
}
.body-content > div {
    background: #f4f4f8;
    padding: 0;
}

/* MENU */
.menu {
    max-height: 100%;
    background: #222e3c;
    position: relative;
    transition: ease 0.5s all;
}
.menu ul.list-menu {
    padding: 0;
    list-style-type: none;
}
.item-menu {
    margin: 10px;
    padding: 15px 0 15px 20px;
    color: #FFF;
    text-decoration: none;
    font-weight: 200;
    border-radius: 5px;
    cursor: pointer;
}
.item-menu:hover {
    background: #37485b;
}
a.item-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
a.item-menu i {
    margin-right: 5px;
}
.fas.fa-bars {
    display: none;
    padding: 5px;
    color: #333;
    border: solid 2px #333;
    border-radius: 5px;
    /*position: absolute;
    top: 15px;
    right: 20px;*/
    cursor: pointer;
    /*z-index: 100;*/
}

/* PANEL USER */
.panel-user, .panel-info {
    margin: 10px;
    padding: 10px 20px;
}
.panel-user i.fa-user {
    font-size: 50px;
}
.panel-user i.fa-times {
    display: none;
}

/* PANEL INFO */
.panel-info i.fa-building {
    margin-right: 5px;
    font-size: 14px;
    color: #FFF;
}

/* BANNER */
.banner {
    max-height: 100%;
    overflow-y: auto;
}
.banner > form {
    height: 100%;
}
section.container-fluid {
    height: 100vh;
}
.highcharts-credits {
    display: none;
}

/* PARAM DATES */
.param-dates > * {
    font-size: 12px;
}

/* CARD STATS */
.row-stats {
    padding: 0 10px;
    row-gap: 10px;
}
.row-stats > * {
    padding: 0 5px !important;
}
.card-stat {
    height: 120px;
    position: relative;
}
.card-stat h6 {
    color: #373737;
    font-size: 12px;
    text-transform: uppercase;
}
.card-stat p {
    font-size: 30px;
    font-weight: bold;
}
.card-stat .sub-amount {
    font-size: 14px;
    color: #a2a2a2;
}
.card-stat i {
    font-size: 45px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.card-stat i.stat-sale {
    color: #55b973;
}
.card-stat i.stat-buy {
    color: #dfa068;
}

/* TABLE STATS */
.title-table, text.highcharts-title {
    font-size: 16px !important;
    font-weight: 800;
    text-transform: uppercase;
}
.table-stats th {
    padding: 15px;
    font-size: 12px;
    font-weight: 500;
}
.table-stats tr { 
    cursor: pointer;
}
.table-stats td {
    padding: 15px;
    font-size: 10px;
    font-weight: 300;
}

/* MODAL INFO DOC */
.modal-doc .info-doc p {
    margin: 0;
    font-size: 12px;
}
.modal-doc .info-doc b {
    font-size: 14px;
}
.modal-doc .info-doc .col-6 {
    display: flex;
    justify-content: space-between;
}

/* RESPONSIVE */
@media screen and (max-width: 564px) {
    .cont-data {
        width: 100%;
        flex-direction: column;
    }
    .cont-rates {
        margin: 10px 0;
        padding: 0;
    }
    .param-dates {
        flex-wrap: wrap;
    }
    .param-dates button {
        width: 100%;
        justify-content: center;
    }
}
@media screen and (max-width: 767px) {
    .menu {
        position: absolute;
        top: -100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }
    a.item-menu {
        position: static;
    }
    .fas.fa-bars, .panel-user i.fa-times {
        display: block;
    }
    .row-stats {
        padding: 0;
    }
}
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}